body{font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: #112139;
};
// Basic Tag //
a{
    text-decoration: none;
   color: white;
}
i{
    color: white;
}
h6{
    font-size: 18px;
}
ul{
    list-style-type: none;
    padding: 0;
    li{
        line-height: 25px;
        font-size: 15px;
        word-spacing: 3px;
        a{
            color: black;
        }
    }
}
.fs-6{
    font-size: 11px!important;
}
.switch{
    display: none;
    position: absolute;
    right: 10px;
}
// End //

// header //

header{
    background-color: #112139;
    position: sticky;
    top: 0;
    padding: 3px;
    z-index: 9999;
}

// Section //
section{
    img{
        border-radius: 33%;
    }
    .profile{
        border-radius: 33%;
        border: 1px solid #8080801c;
        padding: 18px;
        box-shadow:  2px 1px rgba(227, 219, 219, 0.2392156863);
        width: 70%;
        margin: 0 auto;
    }
    .fs-1{
        font-size: 35px!important;
    }
    
}
// Article //
article{
    .next-button,.prev-button{
        position: absolute;
        top: 150px;
        font-size: 35px;
        color: white;
        padding: 10px;
        border-radius: 18px;
    }
    .next-button{ 
        right: -36px; 
    }
    .prev-button{
      left: -36px; 
    }  
    .my_facility{
        li{
            margin-right: 50px;
            padding: 20px 22px;
            background: #80808029;
            border-radius: 40px;
            i{
                font-size: 60px;
            }
        }
    }
    .latest_project{
        img{
            width: 338px;
            height: 200px;
            object-fit: cover;
        }
        li{
            margin-right: 60px;
            p{
                margin:0;
                padding: 0;
            } 
        }
        .slider{
            display: flex;
            overflow-x: scroll;
            scroll-behavior: smooth;
            overflow: scroll;
            &::-webkit-scrollbar{
               display: none;
            }   
        }  
        .slider img:hover{
            transform: scale(1.06);
            transition:4s;
        }
    } 
    .review{
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 2rem;
        scroll-behavior: smooth;
        &::-webkit-scrollbar{
            display:none;
        }
        ul{
            display: flex;
            margin: 0 auto;
            li{
                margin-left: 4rem;
            }
        }
     
        .customer-fill{
            width: 205px;
            margin-right: 4rem;
        }
       
        ~ .prev-button , 
        ~ .next-button{
            position: absolute;
            font-size: 35px;
            color: white;
            padding: 10px;
            border-radius: 18px;
            top: 70px !important;
        }
    }
  
    .education_bar{
        .intro{
            background: white;
            color: black;
            padding: 20px 30px;
            border-radius: 56px;
            text-align: center;
        }
    }
 
}
footer{
    img{
        width: 130px;
        position: fixed;
        right: 20px;
        z-index: 99;
        bottom: 15px;
    }   
}
// Animation Use For Name //
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
    font-size: 26px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
// End //

// Animation Use For Advantage  //
.anim:hover .fliping{
    display: block;
    animation: flip 2s;
   transition: 0.3s;
}

// Animation Use For Education //
.anim:hover .education_bar{
    display: block;
    animation: flip 2s;
   transition: 0.3s;

}

@keyframes flip{
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
// End //

// Light Theme //
.light{
    background-color: white;
    color: black!important;
    header{
    background-color: white;
    padding: 5px;
    }
    a{
        color:black!important;
    }
    i{
        color: black;
    }
    .intro{
        background: black;
        color:white
    } 
    #modalContent{
        background-color: white;
        color: black;
        box-shadow: 1px 1px 21px 1px #8080803d;
        border-radius: 8px;             
    }
    #modalContainer{
        backdrop-filter: blur(6px);
    }
}
    .mob-d-none{
        display:none
    }
.connect_me{
    border: 1px dashed gray;
    border-radius: 50%;
    padding: 45px;
    text-align: center;
    width: 18%;
}
.customer-fill{
    width: 30%;
    margin: 0 auto;
}

// Media //
@media (max-width:997px){

    .mob-d-none{
        display:block
    }
    .switch{
        display: block;
    }
    header{
        display: none;
    }
    .connect_me{
        width: 45%;
    }
    .my_facility{
        overflow: auto;
        width: 100%;
    }
    .prev-button,.next-button{
        display: none;
    }

}
#modalContainer {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
}
  
#modalContent {
background-color: white;
width: 80%;
height: 70%;
margin: 100px auto;
padding: 20px;
color: black;
}

.profile img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in;
    object-fit: cover;
}
  
.profile{
overflow: hidden;
}
